<div class="container app-content" role="main">

    <h1>{{appConfig.appTitle}}</h1>

    <p class="well">
        {{'INDEX_INFO'|translate}}
    </p>

    <p class="well">
        <strong>Please cite:</strong> Brazda, V., Kolomaznik, J., Lysek, J., Haronikova, L., Coufal, J. and Stastny, J. (2016)
        Palindrome analyser - A new web-based server for predicting and evaluating inverted repeats in nucleotide sequences.
        Biochem Bioph Res Co, 478, 1739-1745. <a href="http://dx.doi.org/10.1016/j.bbrc.2016.09.015" target="_blank">link</a>
    </p>

    <p class="well">
        &copy; {{date.getFullYear()}} Ing. Jan Kolomazník, Ph.D.; Ing. Jiří Lýsek, Ph.D. / <a href="http://informatika.mendelu.cz" target="_blank">ÚI PEF MENDELU</a>
        <br />
        doc. Mgr. Václav Brázda, Ph.D. / <a href="http://www.ibp.cz" target="_blank">Biofyzikální ústav akademie věd ČR</a>
        <br />
        Feedback: <a href="mailto:palindrome@ibp.cz">palindrome@ibp.cz</a>
    </p>
</div>